In [0]:
import pandas as pd

uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula4.1/movies.csv"
dataframe_filmes = pd.read_csv(uri) #lê o arquivo csv (arquivo que separa strings com vírgula) da github com a lista de filmes com seus nomes e gênero
dataframe_filmes

      movieId  ...                                       genres
0           1  ...  Adventure|Animation|Children|Comedy|Fantasy
1           2  ...                   Adventure|Children|Fantasy
2           3  ...                               Comedy|Romance
3           4  ...                         Comedy|Drama|Romance
4           5  ...                                       Comedy
...       ...  ...                                          ...
9737   193581  ...              Action|Animation|Comedy|Fantasy
9738   193583  ...                     Animation|Comedy|Fantasy
9739   193585  ...                                        Drama
9740   193587  ...                             Action|Animation
9741   193609  ...                                       Comedy

[9742 rows x 3 columns]

In [0]:
dataframe_filmes.head() #imprime só os 5 primeiros filmes da lista

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
dataframe_filmes.columns #imprime o nome dos campos da lista de filmes

Index(['movieId', 'title', 'genres'], dtype='object')

In [0]:
dataframe_filmes.columns = ["filmeId", "título", "generos"] #modifica o nome dos campos da lista de filme
dataframe_filmes.head() #imprime apenas os 5 primeiros filmes

   filmeId  ...                                      generos
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [0]:
###############################LENDO O ARQUIVO COM AS NOTAS DOS FILMES##########################
uri = "https://raw.githubusercontent.com/alura-cursos/introducao-a-data-science/master/aula1.2/ratings.csv"
dataframe_notas = pd.read_csv(uri)
dataframe_notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [0]:
dataframe_notas.columns = ["usuarioId", "filmeId", "nota", "momento"] #modifica o nome dos campos da lista de notas dos filmes
dataframe_notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [0]:
dataframe_notas["nota"] #series

0         4.0
1         4.0
2         4.0
3         5.0
4         5.0
         ...
100831    4.0
100832    5.0
100833    5.0
100834    5.0
100835    3.0
Name: nota, Length: 100836, dtype: float64

In [0]:
dataframe_notas["nota"].head()

0    4.0
1    4.0
2    4.0
3    5.0
4    5.0
Name: nota, dtype: float64

In [0]:
dataframe_notas["nota"].unique() #mostra os valores existentes dentro da series de forma única
#O resultado mostra que o site tem notas entre 0.5 e 5

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [0]:
dataframe_notas["nota"].mean() #mostra a média de notas

3.501556983616962

In [0]:
dataframe_notas["nota"].min() #mostra a nota mínima

0.5

In [0]:
dataframe_notas["nota"].max() #mostra a nota máxima

5.0

In [0]:
dataframe_notas.describe() #descreve todas as colunas de todo dataframe
#std = mediana (meio)

           usuarioId        filmeId           nota       momento
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09