## **Machine Learn de Classificação**
### com **sklearn.svm import LinearSVC()**

In [0]:
# Tentar adivinhar se o animal é cachorro ou porco com base nas seguintes características.
# 1 - pelo longo?
# 2 - perna curto?
# 3 - faz auau?

# características do porco
porco1 = [0, 1, 0]
porco2 = [0, 1, 1]
porco3 = [1, 1, 0]
# características do cachorro
cachorro1 = [0, 1, 1]
cachorro2 = [1, 0, 1]
cachorro3 = [1, 1, 1]

treino_x = [porco1, porco2, porco3, cachorro1, cachorro2, cachorro3]
treino_y = [1,1,1,0,0,0] # 0 = cachorro | 1 = porco

In [0]:
from sklearn.svm import LinearSVC #Importando os pacotes

modelo = LinearSVC() # Modelo de aprendizado, ainda vázio.
modelo.fit(treino_x, treino_y) 
# Modelo treinando com base nas informações.
# O modelo relaciona as informações do primeiro parâmetro com o segundo parâmetro.

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [0]:
animal_misterioso = [1, 1, 1]
modelo.predict([animal_misterioso]) # Prevê o animal_misterioso

array([0])

>><p>&uarr;&uarr;&uarr; Acertou</p>

In [0]:
misterio1 = [1, 1, 1]
misterio2 = [1, 1, 0]
misterio3 = [0, 1, 1]

teste_x = [misterio1, misterio2, misterio3]
teste_y = [0, 1, 1] # O que se sabe dos animais de cima

In [0]:
previsoes = modelo.predict(teste_x)
previsoes

array([0, 1, 0])

>><p>&uarr;&uarr;&uarr; Acertou os dois primeiros animais e errou o último</p>

**Calculando métricas do resultado**<br>
**Calculando a taxa de acerto**

In [0]:
from sklearn.metrics import accuracy_score #taxa de acerto

accuracy_score(teste_y, previsoes)
#primeiro parâmetro o o resultado certo e o segundo parâmetro é o resultado previsto pela modelo.
#retorna a porcentagem da taxa de acerto

0.6666666666666666

# Outro Exempo

In [0]:
import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head() #mostra as 5 primeiras tuplas

#### Arquivo csv - Dados de acesso de um site
#home = acessou a página inicial
#how_it_works = acessou a página de como funciona o site/produto
#contact = pagina de contato
#bought = comprou produto

# Problema: 
# Deduzir de acordo com as páginas acessadas se a pessoa pode comprar ou não.
# A idéia seria mostrar um pop up para o usuário que provavelmente não compraria.

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [0]:
dados.sample(5) # Mostra 5 tuplas aleatórias

    home  how_it_works  contact  bought
0      1             1        0       0
77     0             1        0       0
24     1             0        1       1
95     1             1        1       1
2      1             1        0       0

In [0]:
x = dados[["home","how_it_works","contact"]] 
# Joga na variável "x" as 3 primeiras colunas
x

    home  how_it_works  contact
0      1             1        0
1      1             1        0
2      1             1        0
3      1             1        0
4      1             1        0
..   ...           ...      ...
94     0             0        1
95     1             1        1
96     0             0        1
97     0             1        0
98     0             0        0

[99 rows x 3 columns]

In [0]:
y = dados["bought"]
# Joga na variável "y" a última cóluna
y

0     0
1     0
2     0
3     0
4     0
     ..
94    0
95    1
96    0
97    0
98    0
Name: bought, Length: 99, dtype: int64

from sklearn.svm import **tran_test_split**<br> 
Função que divide os dados de treino e teste que estão dentro de:
* lits 
* numpy arrays 
* scipy-sparse matrices
* pandas dataframes

In [0]:
from sklearn.model_selection import train_test_split
# Dividindo os dados de treino e teste que estão todos juntos em x e y
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y)
#x são as características
#y são os resultados

In [0]:
# Por padrão a função train_teste_split(x,y) 
# separa 75% dos dados para treino
# e 25% para teste
print("Dados para treino:")
print(treino_x.shape)
print("Dados para teste: ")
print(teste_x.shape)

Dados para treino:
(74, 3)
Dados para teste:
(25, 3)

In [0]:

from sklearn.svm import LinearSVC # Modelo de Aprendizado por Classificação

modelo = LinearSVC(); # Instanciando o modelo de aprendizagem
modelo.fit(treino_x, treino_y); # Treinando

previsoes = modelo.predict(teste_x); # Testando
accuracy_score(teste_y, previsoes) * 100 # Verificando a porcentagem de acerto

100.0